body {
  padding-top: 60px;
}

.column {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 500px;
  border: solid 1px #ccc;
}

.ticket {
  border: solid 1px #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
}

.assignee {
  font-size: small;
  font-style: italic;
}

.subject {
  font-family: monospace;
}

.jqui-dnd-target-over {
  border-color: green;
}

.jqui-dnd-item-over {
  border-color: green;
}

.controls button {
  margin: 5px;
}