.column {
  min-height: 500px;
}

.ticket {
  border: solid 1px #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
}

.assignee {
  font-size: small;
  font-style: italic;
}

.subject {
  font-family: monospace;
}

.ui-draggable-dragging {
  border-color: green;
}

.jqui-dnd-target-over {
  border: solid 1px cyan;
}

.jqui-dnd-item-over {
  border: solid 1px magenta;
}