<navbar/>

<div class="container-fluid">
	<div class="row">
		<div class="column span2" jqui-droppable>
			<h4>Подготовка</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: backlog"/>
		</div>
		<div class="column span2" jqui-droppable>
			<h4>Неназначенные</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: inProgress"/>
		</div>
		<div class="column span2" jqui-droppable>
			<h4>Назначенные</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: developmentDone"/>
		</div>
		<div class="column span2" jqui-droppable>
			<h4>В разработке</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: review"/>
		</div>
		<div class="column span2" jqui-droppable>
			<h4>Тестируются</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: reviewDone"/>
		</div>
		<div class="column span2" jqui-droppable>
			<h4>Ожидают анализа</h4>
			<kanban-ticket ng-repeat="issue in issues | filter: inTesting"/>
		</div>
	</div>
</div>