<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a class="brand" href="#">かんばん</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>To log in, simply provide your Redmine API key in the field below:</p>
  <fieldset class="control-group input-prepend input-append">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input type="text" class="span11" placeholder="Your Redmine API Key" ng-model="apiCode">
    <a class="btn btn-primary" ng-click="login()">Go &raquo;</a>
  </fieldset>
  <div id="loginErrorGroup" class="control-group error">
    <div class="help-block hide">Sorry, it doesn't look like that's a valid API key.</div>
    <div class="help-block hide">API keys are 40 digit hexadecimal numbers. For example: <var>341a3376cac19972cd51d3e47c91e9aefb73c167</var></div>
  </div>
  <figure class="pull-right">
    <img src="img/redmineApiKey.png" alt="Screenshot of the redmine API screen." class="img-polaroid">
    <figcaption>The API access key screen.</figcaption>
  </figure>
  <h4>Finding your API access key:</h4>
  <ul>
    <li>Log in to redmine with your usual credentials.</li>
    <li>Go to: <a href="http://redmine.acturis.com/my/account">redmine.acturis.com/my/account</a></li>
    <li>In the right hand column, under API access key, click show.</li>
  </ul>
</div>