<p>To log in, simply provide your Redmine API key in the field below:</p>
<fieldset id="loginGroup" class="control-group input-prepend input-append">
  <span class="add-on"><i class="icon-lock"></i></span>
  <input id="apiKey" type="text" class="span11" placeholder="Your Redmine API Key">
  <button id="login" data-loading-text="<i class='icon-refresh icon-white'></i>" class="btn btn-primary">Go &raquo;</button>
</fieldset>
<div id="loginErrorGroup" class="control-group error">
  <div class="help-block hide">Sorry, it doesn't look like that's a valid API key.</div>
  <div class="help-block hide">API keys are 40 digit hexadecimal numbers. For example: <var>341a3376cac19972cd51d3e47c91e9aefb73c167</var></div>
</div>
<figure class="pull-right">
  <img src="img/redmineApiKey.png" alt="Screenshot of the redmine API screen." class="img-polaroid">
  <figcaption>The API access key screen.</figcaption>
</figure>
<h4>Finding your API access key:</h4>
<ul>
  <li>Log in to redmine with your usual credentials.</li>
  <li>Go to: <a href="http://redmine.acturis.com/my/account">redmine.acturis.com/my/account</a></li>
  <li>In the right hand column, under API access key, click show.</li>
</ul>