<div class="ticket unit{{getTicketCustomField(issue,'1')}}" jqui-draggable>
		<p class="issueNumber">
            <span class="estimatedHours">{{issue.assigned_to.name}}</span>
            <a href="https://tasks.verumnets.ru/issues/{{issue.id}}" target="_blank">#{{issue.id}}</a>
        </p>
		<p class="subject">{{issue.subject}}</p>
	<div class="ticketProgressBarContainer ratio{{issue.ratio}}">
        <!--<div class="ticketProgressBar" style="width:{{issue.doe_ratio}}%;"></div>-->
        <div class="ticketProgressBar" style="width:{{issue.ratio}}%;"></div>
    </div>
</div>