<div class="ticket unit{{issue.custom_fields[7].value}}" jqui-draggable>
		<p class="issueNumber"><span class="estimatedHours">{{issue.estimated_hours-Number(issue.custom_fields[4].value)}} <abbr title="hours">hrs</abbr></span><a href="https://redmine.acturis.com/issues/{{issue.id}}" target="_blank">#{{issue.id}}</a> </p>		<p class="subject">{{issue.subject}}</p>
		<p class="assignee">{{issue.assigned_to.name}}</p>
	<div class="ticketProgressBarContainer"><div class="ticketProgressBar" style="width:{{issue.done_ratio}}%;"></div></div>
</div>